#wp-locate-it-location-info .inside {
    margin: 0;
    padding: 0;
}
#wp-locate-it,
#wp-locate-it #wpli-fields  {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
#wp-locate-it {
    position: relative;
    padding: 0 33.333% 0 0;
}
#wp-locate-it #wpli-fields:after {
    content: '';
    display: table;
    clear: both;
}
#wp-locate-it #wpli-fields .wpli-field,
#wp-locate-it #wpli-address-finder {
    display: block;
    float: left;
    width: 33.333%;
    margin: 0;
    padding: 10px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#wp-locate-it #wpli-fields .wpli-field:nth-child(3n) {
    border-right: none;
}
#wp-locate-it #wpli-address-finder {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.0375);
    background: #f4f4f4;
}
#wp-locate-it #wpli-fields .wpli-field .wpli-field-label,
#wp-locate-it #wpli-address-finder label {
    display: block;
    margin: 0 0 5px;
    padding: 0;
    width: auto;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#wp-locate-it #wpli-address-finder label {
    display: none;
}
#wp-locate-it #wpli-fields .wpli-field .wpli-field-input {
    display: block;
    padding: 0;
    margin: 0;
}
#wp-locate-it #wpli-address-finder > input,
#wp-locate-it #wpli-fields .wpli-field .wpli-field-input input,
#wp-locate-it #wpli-fields .wpli-field .wpli-field-input textarea,
#wp-locate-it #wpli-fields .wpli-field .wpli-field-input select {
    display: block;
    height: 32px;
    width: 100%;
    margin: 0;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wp-locate-it #wpli-gmap {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 33.333%;
    height: 100%;
    background: #e6e6e6;
}

#wpli-settings .description {
    max-width: 640px;
}

body .pac-container {
    border: 1px solid rgba(0,0,0,0.1);
}

@media ( max-width: 1024px ) {

    #wp-locate-it {
        padding: 0;
    }

    #wp-locate-it #wpli-gmap {
        position: static;
        width: auto;
        height: 250px;
    }
}

@media ( max-width: 640px ) {

    #wp-locate-it #wpli-address-finder {
        float: none;
    }
    #wp-locate-it #wpli-fields .wpli-field {
        float: none;
        width: auto;
        border: none;
    }
    #wp-locate-it .wpli-field .wpli-field-label {
        float: none;
        display: block;
        margin: 0 0 5px;
        padding: 0;
        width: auto;
    }
}